/* Sfondo con immagine */
.login-background {
  background-image: url('/FrontEnd/ITS/src/assets/sfondo_login.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box bianco centrale */
.login-box {
  width: 540px;
  padding: 50px 40px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  border: 4px solid black;

  text-align: left;
  font-family: "Georgia", serif;
}

/* Titolo */
.login-box h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Gruppi input */
.input-group {
  margin-bottom: 35px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

/* Campi */
input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #E5E5E5;
  font-size: 18px;
}

/* Bottone */
.login-btn {
  width: 100%;
  padding: 15px 0;
  background: #C4C4C4;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #b0b0b0;
}
