mat-divider {
    --mat-divider-color: #000000;
    border-top-color: #000000 !important;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}

.logo-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-content svg {
    transition: transform 0.3s ease;
}

.footer-content svg:hover {
    transform: scale(1.1);
}

.footer-text {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}
