.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 84px 20px 20px 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.card-container > app-card {
  flex: 0 1 calc(33.333% - 20px);
  max-width: 350px;
}
