<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td mat-cell *matCellDef="let element">
            @if (column === 'azioni') {
                <button mat-icon-button color="warn" (click)="elimina(element)" aria-label="Elimina studente">
                    <mat-icon>delete</mat-icon>
                </button>
            } @else {
                {{element[column]}}
            }
        </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
</table>