/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { 
  height: 100%; 
}
html {
  /* Nascondi scrollbar per IE, Edge e Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Nascondi scrollbar per Chrome, Safari e Opera */
html::-webkit-scrollbar {
  display: none;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #ffffff; 
  
  /* Nascondi scrollbar per IE, Edge e Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Nascondi scrollbar per Chrome, Safari e Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Ensure app-root is a block element */
app-root {
  display: block;
  width: 100%;
  height: 100%;
}
