mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #D9D9D9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.spacer {
  flex: 1 1 auto;
}

#ITS {
  color: black;
  margin: 0;
}

#home {
  color: black;
}

#corsi {
  color: black;
}

#studenti {
  color: black;
}

#esami {
  color: black;
}

#account {
  color: black;
}

.navbar-span {
  display: flex;
  align-items: center;
  gap: 8px;
}

#ITSimage {
  width: 100px;
  margin-top: 5px;
}
